#grid{
  display: grid;
  grid-template-columns: repeat(29,auto) ;
  grid-template-rows: repeat(29,auto) ;;
  justify-content: center;
}
.cell{
  border: 1px solid rgb(76, 73, 73);
  border-radius: 2px;
  margin: .5px .5px;
  height: 20px;
  width: 20px;
}
.changec{
    background-color: rgb(230, 17, 17);
}
.visited{
    border-radius: 50%;
    /* background-color: rgb(106, 244, 170); */
    background-color: rgb(25, 181, 243);
    border-radius: .5px;
    /* animation-name: example;
    animation-duration: .5s; */
}
.final{
    background-color: rgb(240, 216, 1);
    /* animation-name: finalanimation;
    animation-duration: .5s; */
}
.start{
  background-color: rgb(255, 4, 4);
}
.buttons{
  display:  flex;
  padding: 2px 2px;
  justify-content: center;
  margin: 10px 10px;
}
.blocked{
  background-color: rgb(27, 27, 40);

}
/* @keyframes example {
  from {background-color: white;}
  to {background-color: rgb(25, 181, 243);}
  from {border-radius: 2px;}
  to {border-radius: .5px;}
}
@keyframes finalanimation {
  from {background-color:  rgb(25, 181, 243);}
  to {background-color: rgb(240, 216, 1);}
} */