#grid{
  display: grid;
  grid-template-columns: repeat(29,auto) ;
  grid-template-rows: repeat(29,auto) ;;
  justify-content: center;
  position: 500px;
}
.cell{
  border: 1px solid rgb(76, 73, 73);
  border-radius: 2px;
  margin: .5px .5px;
  height: 20px;
  width: 20px;
}
.changec{
    background-color: rgb(230, 17, 17);
}
.visited{
    /* border-radius: 50%; */
    /* background-color: rgb(106, 244, 170); */
    background-color: rgb(25, 181, 243);
    border-radius: .5px;
    /* animation-name: example;
    animation-duration: .5s; */
    animation: temp 280ms step-end;
}
.final{
    background-color: rgb(240, 216, 1);
  animation: path .3s, example .3s;
    /* animation-name: finalanimation;
    animation-duration: .5s; */
}
.start{
  background-color: rgb(255, 4, 4);
}
.buttons{
  display:  flex;
  /* padding: 2px 2px; */
  justify-content: center;
  margin: 3px 0px;
}
.blocked{
   /* animation-name: finalanimation; */
   /* animation-name: example; */
  /* animation-duration: .1s;  */
    /* animation-duration: .1s; */
  background-color: rgb(27, 27, 40);
  animation: finalanimation .3s, example .3s;
}
 @keyframes example{
  /* from {background-color: white;}
  to {background-color: rgb(25, 181, 243);} */
  from {border-radius: 50%;}
  to {border-radius: .5px;}
}

@keyframes finalanimation {
  from {background-color:  rgba(48, 197, 234, 0.726);}
  to {background-color: rgb(27, 27, 40);
}

}
@keyframes path {
  from {background-color:  rgba(48, 197, 234, 0.726);}
  to {background-color: rgb(240, 216, 1);}
}
.btn{
  border-radius: 10px;
  margin-left: 10px;
  background-color: rgb(63, 255, 63);
}
button:disabled,
button[disabled]{
  border: .5px solid #120404;
  background-color: #ff0000;
  color: #ffffff;
}

.data{
  display: flex;
  justify-content: center;
}
.showdata{
  padding: 5px;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  /* display: flex; */
  background-color: aqua;
  height: fit-content;
  border: 1.5px solid black;
  border-radius: 8px;
}
@keyframes temp{
  0%{
    background-color: rgb(0, 26, 255);
    border-radius: 50%;
    
  }
  33%{
    background-color: rgb(60, 190, 255);
    border-radius: 33%;
    
  }
  66%{
    background-color: rgb(7, 181, 255);
    border-radius: 17%;
    
  }
  100%{
    background-color: rgb(25, 181, 243);
    border-radius: 0%;
    
  }

}